---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/user/ZerOne01/profile
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"116c336b9f7c37b33cb7c377c3bc052f"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:user:3990096d72bf12025d91414c4ce13f91aadd778b","request_cached":true,"request_cache_expiry":164,"username":"ZerOne01","url":"https:\/\/myanimelist.net\/profile\/ZerOne01","image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/97832.jpg","last_online":"2018-12-25T00:53:00+00:00","gender":"Male","birthday":"1992-03-15T00:00:00+00:00","location":"Malaysia","joined":"2008-09-24T00:00:00+00:00","anime_stats":{"days_watched":19.6,"mean_score":7.71,"watching":18,"completed":72,"on_hold":32,"dropped":27,"plan_to_watch":77,"total_entries":226,"rewatched":1,"episodes_watched":1215},"manga_stats":{"days_read":3,"mean_score":7.69,"reading":31,"completed":6,"on_hold":0,"dropped":6,"plan_to_read":9,"total_entries":52,"reread":0,"chapters_read":371,"volumes_read":60},"favorites":{"anime":[{"mal_id":4224,"url":"https:\/\/myanimelist.net\/anime\/4224\/Toradora","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/22128.jpg?s=40d10908b36a2da9508b844cfb3c4e05","name":"Toradora!"},{"mal_id":11433,"url":"https:\/\/myanimelist.net\/anime\/11433\/Ano_Natsu_de_Matteru","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/12\/59405.jpg?s=dab8e6e93aa5f32ed041ff544a1d9f50","name":"Ano
        Natsu de Matteru"},{"mal_id":6098,"url":"https:\/\/myanimelist.net\/anime\/6098\/Sora_no_Manimani","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/6\/75491.jpg?s=e4d53323aadc2955ed9a19af2aeab847","name":"Sora
        no Manimani"},{"mal_id":256,"url":"https:\/\/myanimelist.net\/anime\/256\/Hoshi_no_Koe","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1\/2389.jpg?s=37f781cfbd8ffd7abf639be106f96e3c","name":"Hoshi
        no Koe"},{"mal_id":14813,"url":"https:\/\/myanimelist.net\/anime\/14813\/Yahari_Ore_no_Seishun_Love_Comedy_wa_Machigatteiru","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/11\/49459.jpg?s=37bd699b66f9f802d2b618b693562e2f","name":"Yahari
        Ore no Seishun Love Comedy wa Machigatteiru."}],"manga":[{"mal_id":14710,"url":"https:\/\/myanimelist.net\/manga\/14710\/Ane_Doki","image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/1\/172900.jpg?s=039afb0c5447d55d9af882be4182b764","name":"Ane
        Doki"},{"mal_id":1061,"url":"https:\/\/myanimelist.net\/manga\/1061\/Detective_Conan","image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/1\/97267.jpg?s=365b4d43226c0b6646629c9c6d31564c","name":"Detective
        Conan"},{"mal_id":4368,"url":"https:\/\/myanimelist.net\/manga\/4368\/Toradora","image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/2\/174090.jpg?s=070967c64e5fd76fae3aec1e8f4fce83","name":"Toradora!"},{"mal_id":12137,"url":"https:\/\/myanimelist.net\/manga\/12137\/Sora_no_Manimani","image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/141107.jpg?s=a6ceb46f719a7f9c636b469105b8566a","name":"Sora
        no Manimani"}],"characters":[{"mal_id":13701,"url":"https:\/\/myanimelist.net\/character\/13701\/Mikoto_Misaka","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/3\/78211.jpg?s=84f0c971a60e173fe390dd3ab7a25c3b","name":"Misaka,
        Mikoto"},{"mal_id":87505,"url":"https:\/\/myanimelist.net\/character\/87505\/Ritsu_Kawai","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/14\/240271.jpg?s=1956c6fda0ff71f23985a58357cbedab","name":"Kawai,
        Ritsu"},{"mal_id":54007,"url":"https:\/\/myanimelis[...]
