---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/anime/34798/episodes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"c46acd920790b10338ddf1e3ba804bd5b6b0c8a7","request_cached":true,"mal_id":34798,"link_canonical":"https:\/\/myanimelist.net\/anime\/34798\/Yuru_Camp\u25b3","title":"Yuru
        Camp\u25b3","title_english":"Laid-Back Camp","title_japanese":"\u3086\u308b\u30ad\u30e3\u30f3\u25b3","title_synonyms":"Yurukyan","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/anime\/4\/89877.jpg","type":"TV","source":"Manga","episodes":12,"status":"Finished
        Airing","airing":false,"aired_string":"Jan 4, 2018 to Mar 22, 2018","aired":{"from":"2018-01-04","to":"2018-03-22"},"duration":"23
        min. per ep.","rating":"PG-13 - Teens 13 or older","score":8.35,"scored_by":44966,"rank":194,"popularity":762,"members":115268,"favorites":1789,"synopsis":"While
        the perfect getaway for most girls her age might be a fancy vacation with
        their loved ones, Rin Shima&#039;s ideal way of spending her days off is camping
        alone at the base of Mount Fuji. From pitching her tent to gathering firewood,
        she has always done everything by herself, and has no plans of leaving her
        little solitary world. However, what starts off as one of Rin&#039;s usual
        camping sessions somehow ends up as a surprise get-together for two when the
        lost Nadeshiko Kagamihara is forced to take refuge at her campsite. Originally
        intending to see the picturesque view of Mount Fuji for herself, Nadeshiko&#039;s
        plans are disrupted when she ends up falling asleep partway to her destination.
        Alone and with no other choice, she seeks help from the only other person
        nearby. Despite their hasty introductions, the two girls nevertheless enjoy
        the chilly night together, eating ramen and conversing while the campfire
        keeps them warm. And even after Nadeshiko&#039;s sister finally picks her
        up later that night, both girls silently ponder the possibility of another
        camping trip together. [Written by MAL Rewrite]","background":null,"premiered":"Winter
        2018","broadcast":"Thursdays at 23:00 (JST)","related":{"Adaptation":[{"mal_id":94376,"type":"manga","url":"https:\/\/myanimelist.net\/manga\/94376\/Yuru_Camp\u25b3","title":"Yuru
        Camp\u25b3"}],"Side story":[{"mal_id":37341,"type":"anime","url":"https:\/\/myanimelist.net\/anime\/37341\/Yuru_Camp\u25b3_Specials","title":"Yuru
        Camp\u25b3 Specials"}]},"producer":[{"url":"https:\/\/myanimelist.net\/anime\/producer\/238\/AT-X","name":"AT-X"},{"url":"https:\/\/myanimelist.net\/anime\/producer\/737\/Sony_Music_Communications","name":"Sony
        Music Communications"},{"url":"https:\/\/myanimelist.net\/anime\/producer\/963\/MAGES","name":"MAGES."},{"url":"https:\/\/myanimelist.net\/anime\/producer\/1185\/81_Produce","name":"81
        Produce"},{"url":"https:\/\/myanimelist.net\/anime\/producer\/1416\/BS11","name":"BS11"},{"url":"https:\/\/myanimelist.net\/anime\/producer\/1590\/Furyu","name":"Furyu"},{"url":"https:\/\/myanimelist.net\/anime\/producer\/1784\/Crunchyroll_SC_Anime_Fund","name":"Crunchyroll
        SC Anime Fund"}],"licensor":[],"studio":[{"url":"https:\/\/myanimelist.net\/anime\/producer\/1075\/C-Station","name":"C-Station"}],"genre":[{"url":"https:\/\/myanimelist.net\/anime\/genre\/36\/Slice_of_Life","name":"Slice
        of Life"},{"url":"https:\/\/myanimelist.net\/anime\/genre\/4\/Comedy","name":"Comedy"}],"opening_theme":["\"SHINY
        DAYS\" by Asaka"],"ending_theme":["\"Furu Biyori (\u3075\u3086\u3073\u3088\u308a)\"
        by Eri Sasaki"],"episode":[{"id":1,"title":"Mount Fuji and Curry Noodles","title_japanese":"(\u3075\u3058\u3055\u3093\u3068\u30ab\u30ec\u30fc\u3081\u3093)","title_romanji":"Fujisan
        to Curry-men","aired":"Jan 4, 2018","filler":false,"recap":false,"video_url":"https:\/\/myanimelist.net\/anime\/34798\/Yuru_Camp\u25b3\/episode\/1","forum_url":"https:\/\/myanimelist.net\/forum\/?topicid=1696912"},{"id":2,"title":"Welcome
        to the Outdoor Activities Club","title_japanese":"(\u3088\u3046\u3053\u305d
        \u91ce\u30af\u30eb\u3078\uff01)","title_romanji":"Youkoso Nokuru e!","aired":"Jan
        11, 2018","filler":false,"recap":false,"video_url":"https:\/\/myanimelist.net\/anime\/34798\/Yuru_Camp\u25b3\/episode\/2","forum_url":"https:\/\/myanimelist.net\/forum\/?topicid=1698701"},{"id":3,"title":"Mount
        Fuji and Relaxed Hot[...]
