---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/club/1/members
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"cdaadc4352c2c0dcd559ace71b2c234a"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:club:0b69ded4f086c1fe7530f2427b461ac00190ebe0","request_cached":true,"request_cache_expiry":40115,"members":[{"username":"-alquimista-","url":"https:\/\/myanimelist.net\/profile\/-alquimista-","image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/47134.jpg"},{"username":"-Ayu","url":"https:\/\/myanimelist.net\/profile\/-Ayu","image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/5224442.jpg"},{"username":"-Envy-","url":"https:\/\/myanimelist.net\/profile\/-Envy-","image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/1509945.jpg"},{"username":"-Ricochet-","url":"https:\/\/myanimelist.net\/profile\/-Ricochet-","image_url":"https:\/\/cdn.myanimelist.net\/images\/userimag[...]
