---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/anime/34798/reviews
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"26f32dfecb967ba7cf3b486b913642d5"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:anime:f9c9c0fb34264e106ef85b4368f60ffe635f2447","request_cached":true,"request_cache_expiry":42607,"reviews":[{"mal_id":274533,"url":"https:\/\/myanimelist.net\/reviews.php?id=274533","helpful_count":143,"date":"2018-03-22T07:31:00+00:00","reviewer":{"url":"https:\/\/myanimelist.net\/profile\/Pipe","image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/6017253.jpg","username":"Pipe","episodes_seen":12,"scores":{"overall":9,"story":8,"animation":7,"sound":7,"character":8,"enjoyment":9}},"content":"\u201c\u00a1
        One for all, hole in one!\u201d \u2014Nadeshiko Kagamihara\r\nYuru Camp is
        one of the gems from the season. Who could have guessed a camping series would
        be fun, refreshing, and very entertaining? Also, no matter how you are feeling,
        after each episode you will end with a big smile on your face. Yuru Camp isn\u2019t
        about cute girls doing cute things. It is about how to enjoy simpler situations
        and how to maintain the proper mood and [...]
