---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/anime/34798/news
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0c267a23c25af4851d89bf082dc92a1c"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:anime:0942d59023b09ff82f1440124df3e63abdec7f66","request_cached":true,"request_cache_expiry":42911,"articles":[{"url":"https:\/\/myanimelist.net\/news\/55911433","title":"Winners
        of the Newtype Anime Awards 2018","date":"2018-10-07T12:27:00+00:00","author_name":"Sakana-san","author_url":"https:\/\/myanimelist.net\/profile\/Sakana-san","forum_url":"https:\/\/myanimelist.net\/forum\/?topicid=1744426","image_url":"https:\/\/cdn.myanimelist.net\/s\/common\/uploaded_files\/1538940034-e3cb48e630691d498c99d4d990866e9e.jpeg?s=fcbcaed3359277b3c80ca3fcab3058e1","comments":58,"intro":"Winners
        of the 2018 Newtype Anime Awards were announced at the Machi\u2605Asobi event.
        The winners were selected by fans in magazine and online polls. The participants
        we..."},{"url":"https:\/\/myanimelist.net\/news\/55905759","title":"''Yuru
        Camp\u25b3'' Receives Second Season [Update 10\/7]","date":"2018-10-07T00:59:00+00:00","author_name":"Vindstot","author_url":"https:\/\/myanimelist.net\/profile\/Vindstot","forum_url":"https:\/\/myanimelist.net\/forum\/?topi[...]
