---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/anime/34798/episodes
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"de014930698906e2ac57ff59cb197c0a"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:anime:208b605aee345a365a209edae25bc89a7a7ce092","request_cached":false,"request_cache_expiry":43200,"episodes_last_page":1,"episodes":[{"episode_id":1,"title":"Mount
        Fuji and Curry Noodles","title_japanese":"\u3075\u3058\u3055\u3093\u3068\u30ab\u30ec\u30fc\u3081\u3093","title_romanji":"Fujisan
        to Curry-men\u00a0","aired":{"from":"2018-01-04T00:00:00+00:00","to":null,"prop":{"from":{"day":null,"month":null,"year":null},"to":{"day":null,"month":null,"year":null}},"string":"Jan
        4, 2018"},"filler":false,"recap":false,"video_url":"https:\/\/myanimelist.net\/anime\/34798\/Yuru_Camp\u25b3\/episode\/1","forum_url":"https:\/\/myanimelist.net\/forum\/?topicid=1696912"},{"episode_id":2,"title":"Welcome
        to the Outdoor Activities Club","title_japanese":"\u3088\u3046\u3053\u305d
        \u91ce\u30af\u30eb\u3078\uff01","title_romanji":"Youkoso Nokuru e!\u00a0","aired":{"from":"2018-01-11T00:00:00+00:00","to":null,"prop":{"from":{"day":null,"month":null,"year":null},"to":{"day":null,"month":null,"year":null}},"string":"Jan
        11, 2018"},"filler":false,"recap":false,"video_url":"https:\/\/myanimelist.[...]
