---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/user/ZerOne01/animelist
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"dccecc697d416cc8071a7a6752b1d5f3"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:user:969d73b2ecb510041bf22f85ac8ceea5357443e6","request_cached":false,"request_cache_expiry":300,"anime":[{"mal_id":12291,"title":"Acchi
        Kocchi (TV)","video_url":"https:\/\/myanimelist.net\/anime\/12291\/Acchi_Kocchi_TV\/video","url":"https:\/\/myanimelist.net\/anime\/12291\/Acchi_Kocchi_TV","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/46489.jpg?s=1cda5fcab585ed7bfd95f5dfc8b582a2","type":"TV","watching_status":1,"score":0,"watched_episodes":2,"total_episodes":12,"airing_status":2,"season_name":null,"season_year":null,"has_episode_video":false,"has_promo_video":true,"has_video":true,"is_rewatching":false,"tags":null,"rating":"PG-13","start_date":"2012-06-04T00:00:00+00:00","end_date":"2014-05-06T00:00:00+00:00","watch_start_date":"2012-12-12T00:00:00+00:00","watch_end_date":null,"days":2568,"storage":null,"priority":"Low","added_to_list":false,"studios":[],"licensors":[]},{"mal_id":6547,"title":"Angel
        Beats!","video_url":"https:\/\/myanimelist.net\/anime\/6547\/Angel_Beats\/video","url":"https:\/\/myanimelist.net\/anime\/6547\/Angel_Beats","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/10\/22061.jpg?s=fc02fa92ed45c521101c25e2de51fdac","type":"TV","watching_status":1,"score":9,"watched_episodes":11,"total_episodes":13,"airing_status":2,"season_name":null,"season_year":null,"has_episode_video":false,"has_promo_video":true,"has_video":true,"i[...]
