---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/club/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"3b3ef01a20f5cf5cbe91f777114f9859"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:club:0d278555cf663789e1b81d22b553266caadba53f","request_cached":true,"request_cache_expiry":40348,"mal_id":1,"url":"https:\/\/myanimelist.net\/clubs.php?cid=1","image_url":"https:\/\/cdn.myanimelist.net\/images\/clubs\/16\/222057.jpg","title":"Cowboy
        Bebop","members_count":1297,"pictures_count":25,"category":"Anime","created":"2007-03-29T00:00:00+00:00","type":"public","staff":[{"mal_id":0,"type":"profile","name":"daya","url":"https:\/\/myanimelist.net\/profile\/daya"},{"mal_id":0,"type":"profile","name":"Xinil","url":"https:\/\/myanimelist.net\/profile\/Xinil"}],"anime_relations":[{"mal_id":1,"type":"anime","name":"Cowboy
        Bebop","url":"https:\/\/myanimelist.net\/anime\/1"},{"mal_id":5,"type":"anime","name":"Cowboy
        Bebop: Tengoku no Tobira","url":"https:\/\/myanimelist.net\/anime\/5"},{"mal_id":4037,"type":"anime","name":"Cowboy
        Bebop: Yose Atsume Blues","url":"https:\/\/myanimelist.net\/anime\/4037"}],"manga_relations":[{"mal_id":173,"type":"manga","name":"Cowboy
        Bebop","url":"https:\/\/myanimelist.net\/manga\/173"},{"mal_id":174,"type":"manga","name":"Shooting
        Star Bebop: Cowboy Bebop","url":"https:\/\/myanimelist.net\/manga\/174"}],"character_relations":[{"mal_id":6694,"type":"character","name":"Judy","url":"https:\/\/myanimelist.net\/character\/6694"},{"mal_id":18441,"type":"character","name":"Dr.
        Londes","url":"https:\/\/myanimelist.net\/character\/18441"},{"mal_id":19118,"type":"character","name":"Laughing
        Bull","url":"https:\/\/myanimelist.net\/character\/19118"},{"mal_id":4,"type":"character","name":"Ein","url":"https:\/\/myanimelist.net\/character\/4"},{"mal_id":2734,"type":"character","name":"Vicious","url":"https:\/\/mya[...]
