---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.me/person/2211
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"mal_id":2211,"link_canonical":"https:\/\/myanimelist.net\/people\/2211\/Makoto_Tateno","name":"Makoto
        Tateno","given_name":"\u771f\u7434","family_name":null,"alternate_name":null,"birthday":"Mar  23,
        ","website_url":"http:\/\/makoto-egg.com\/","member_favorites":126,"more":"Also
        writes under the pen-name of Shinjuku Tango.\\n\\nBirthplace: Toyama, Toyama,
        Japan\\nZodiac: Aries\\nBlood Type: A\\nFemale\\n\\nMakoto Tateno is an extremely
        prolific mangaka, having created 30+ series of manga in the shoujo demographic,
        including many titles in the BL genre. She debuted in 1986 with the short
        story \"Yuraete Tamago Boys,\" published by Hana to Yume. ","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/voiceactors\/2\/1850.jpg","voice_acting_role":[],"anime_staff_position":[],"published_manga":[{"manga":{"mal_id":202,"name":"9th
        Sleep","url":"https:\/\/myanimelist.net\/manga\/202\/9th_Sleep","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/46x64\/images\/manga\/2\/5959.jpg?s=14332663c59c56f1b3348eb90f3355a0"},"role":"Story
        & Art"},{"manga":{"mal_id":21107,"name":"Ai to Okane","url":"https:\/\/myanimelist.net\/manga\/21107\/Ai_to_Okane","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/46x64\/images\/manga\/3\/33866.jpg?s=3fea4978ccf72b067c116093198ae206"},"role":"Story
        & Art"},{"manga":{"mal_id":11325,"name":"Angelic Runes","url":"https:\/\/myanimelist.net\/manga\/11325\/Angelic_Runes","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/46x64\/images\/manga\/1\/15303.jpg?s=75cbeb2dd826be87[...]
