---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/character/32512
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"814d0aba3c35008d74c2820b9420538bdd872109","request_cached":true,"mal_id":32512,"link_canonical":"https:\/\/myanimelist.net\/character\/32512\/Violate_Behemoth","name":"Violate
        Behemoth","name_kanji":null,"nicknames":"Violate  Behemoth","about":"Heavenly
        Solitude Star, Behemoth  Violate (\u5929\u5b64\u661f\u30d9\u30d2\u30fc\u30e2\u30b9\u306e\u30d0\u30a4\u30aa\u30ec\u30fc\u30c8,
        Tenkosei Beh\u012bmosu no Baior\u0113to?)  is the \"shadow\" that Pandora
        put inside Alone''s shadow to guard him. This Specter has the ability to blend
        completely into darkness, as she presents herself gushing out from her master''s
        shadow and challenging Taurus Aldebaran, proving she is able to fight equally
        at T[...]
