---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/manga/15434
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:manga:ab1682cc43660d8f544f2be7ed393858dd28b73e","request_cached":true,"request_cache_expiry":40299,"mal_id":15434,"url":"https:\/\/myanimelist.net\/manga\/15434\/Koi_Puzzle","title":"Koi
        Puzzle","title_english":"Love Puzzle","title_synonyms":["Love Story of Three
        Sisters"],"title_japanese":"\u30b3\u30a4\u30d1\u30ba\u30eb","status":"Finished","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/manga\/3\/22432.jpg","type":"Manga","volumes":1,"chapters":3,"publishing":false,"published":{"from":"2009-01-01T02:38:55+00:00","to":null,"string":"2009"},"rank":17223,"score":null,"scored_by":null,"popularity":28146,"members":69,"favorites":0,"synopsis":"The
        school life romantic adventures of three sisters: Aihara Tsukasa, Wakasa,
        and Mikasa","background":null,"related":[],"genres":[{"mal_id":22,"type":"manga","name":"Romance","url":"https:\/\/myanimelist.net\/manga\/genre\/22\/Romance"},{"mal_id":23,"type":"manga","name":"School","url":"https:\/\/myanimelist.net\/manga\/genre\/23\/School"},{"mal_id":25,"type":"manga","name":"Shoujo","url":"https:\/\/myanimelist.net\/manga\/genre\/25\/Shoujo"}],"authors":[{"mal_id":5370,"type":"people","name":"Satsuki,
        Mikiko","url":"https:\/\/myanimelist.net\/people\/5370\/Mikiko_Satsuki"}],"serializations":[{"mal_id":170,"type":"manga","name":"ChuChu","url":"https:\/\/myanimelist.net\/manga\/magazine\/170\/ChuChu"}]}'
  recorded_at: Sun, 16 Sep 2018 03:27:07 GMT
recorded_with: VCR 4.0.0
