---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/person/2211
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:person:b1bf4865cf2786dd621acad95dc0ca02f4528684","request_cached":true,"request_cache_expiry":40296,"mal_id":2211,"url":"https:\/\/myanimelist.net\/people\/2211\/Makoto_Tateno","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/voiceactors\/2\/1850.jpg","website_url":"http:\/\/makoto-egg.com\/","name":"Makoto
        Tateno","given_name":"\u771f\u7434","family_name":"\u7acb\u91ce","alternate_names":[],"birthday":null,"member_favorites":127,"about":"Also
        writes under the pen-name of Shinjuku Tango.\\n\\n\r\nBirthplace: Toyama,
        Toyama, Japan\\n\r\nZodiac: Aries\\n\r\nBlood Type: A\\n\r\nFemale\\n\\n\r\nMakoto
        Tateno is an extremely prolific mangaka, having created 30+ series of manga
        in the shoujo demographic, including many titles in the BL genre. She debuted
        in 1986 with the short story \"Yuraete Tamago Boys,\" published by Hana to
        Yume.","voice_acting_roles":[],"anime_staff_positions":[],"published_manga":[{"position":"Story
        & Art","manga":{"mal_id":202,"url":"https:\/\/myanimelist.net\/manga\/202\/9th_Sleep","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/manga\/2\/5959.jpg?s=14332663c59c56f1b3348eb90f3355a0","name":"9th
        Sleep"}},{"position":"Story & Art","manga":{"mal_id":21107,"url":"https:\/\/myanimelist.net\/manga\/21107\/Ai_to_Okane","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/manga\/3\/33866.jpg?s=3fea4978ccf72b067c116093198ae206","name":"Ai
        to Okane"}},{"position":"Story & Art","manga"[...]
