---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.me/manga/15434
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"mal_id":15434,"link_canonical":"https:\/\/myanimelist.net\/manga\/15434\/Koi_Puzzle","title":"Koi
        Puzzle","title_english":"Love Puzzle","title_synonyms":"Love Story of Three
        Sisters","title_japanese":"\u30b3\u30a4\u30d1\u30ba\u30eb","status":"Finished","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/manga\/3\/22432.jpg","type":"Manga","volumes":1,"chapters":3,"publishing":false,"published_string":{"from":null,"to":null},"published":[],"rank":16569,"score":null,"scored_by":null,"popularity":26691,"members":68,"favorites":0,"synopsis":"The
        school life romantic adventures of three sisters: Aihara Tsukasa, Wakasa,
        and Mikasa","background":null,"related":[],"genre":[{"url":"https:\/\/myanimelist.net\/manga\/genre\/22\/Romance","name":"Romance"},{"url":"https:\/\/myanimelist.net\/manga\/genre\/23\/School","name":"School"},{"url":"https:\/\/myanimelist.net\/manga\/genre\/25\/Shoujo","name":"Shoujo"}],"author":[{"url":"https:\/\/myanimelist.net\/people\/5370\/Mikiko_Satsuki","name":"Satsuki,
        Mikiko"}],"serialization":[{"url":"https:\/\/myanimelist.net\/manga\/magazine\/170\/ChuChu","name":"ChuChu"}]}'
  recorded_at: Thu, 01 Feb 2018 05:30:27 GMT
recorded_with: VCR 4.0.0
