---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/anime/34798/recommendations
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"7a42fd7e0eefc1f87395c3b09a205378"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:anime:525d7be3b072f3311789e1a9a25854f7b2ef340a","request_cached":true,"request_cache_expiry":42926,"recommendations":[{"mal_id":14355,"url":"https:\/\/myanimelist.net\/anime\/14355\/Yama_no_Susume","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/7\/75525.jpg?s=b2d87d7de4ee0467edd603810d0c1f09","recommendation_url":"https:\/\/myanimelist.net\/recommendations\/anime\/14355-34798","title":"Yama
        no Susume","recommendation_count":9},{"mal_id":17549,"url":"https:\/\/myanimelist.net\/anime\/17549\/Non_Non_Biyori","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/51581.jpg?s=7e3d34be5f8fcced34e999b865de123a","recommendation_url":"https:\/\/myanimelist.net\/recommendations\/anime\/17549-34798","title":"Non
        Non Biyori","recommendation_count":8},{"mal_id":35839,"url":"https:\/\/myanimelist.net\/anime\/35839\/Sora_yori_mo_Tooi_Basho","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/6\/89879.jpg?s=2[...]
