---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/search/character/misaka%20mikoto/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"url":"https:\/\/myanimelist.net\/character\/13701\/Mikoto_Misaka","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/23x32\/images\/characters\/3\/78211.jpg?s=fd9b3907f0b2168a524432c4ff126e14","name":"Misaka,
        Mikoto","nicknames":"Biribiri, The Railgun, The Electromaster, Shocker, Tokiwadai
        Ace","anime":[{"id":16049,"url":"\/anime\/16049\/Toaru_Kagaku_no_Railgun_S","title":"Toaru
        Kagaku no Railgun S"},{"id":11743,"url":"\/anime\/11743\/Toaru_Majutsu_no_Index_Movie__Endymion_no_Kiseki","title":"Toaru
        Majutsu no Index Movie: Endymion no Kiseki"},{"id":19697,"url":"\/anime\/19697\/Toaru_Kagaku_no_Railgun_S__Motto_Marutto_Railgun","title":"Toaru
        Kagaku no Railgun S: Motto Marutto Railgun"},{"id":10249,"url":"\/anime\/10249\/Toaru_Majutsu_no_Index-tan_II","title":"Toaru
        Majutsu no Index-tan II"},{"id":4654,"url":"\/anime\/4654\/Toaru_Maj[...]
