---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.me/search/anime/railgun/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":6213,"url":"https:\/\/myanimelist.net\/anime\/6213\/Toaru_Kagaku_no_Railgun","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/100x140\/images\/anime\/8\/53581.jpg?s=4003b92ef0e723389087b69a8a08d742","title":"Toaru
        Kagaku no Railgun","description":"The student-filled Academy City is at the
        forefront of scientific advancement and home to the esper development program.
        The seven \"Level 5\" espers are the most powerful in Academy City, and ranked
        th...","type":"TV","score":7.83,"episodes":24,"members":280631},{"id":16049,"url":"https:\/\/myanimelist.net\/anime\/16049\/Toaru_Kagaku_no_Railgun_S","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/100x140\/images\/anime\/7\/75610.jpg?s=ca85d87b5ff134c73f03184d111604c0","title":"Toaru
        Kagaku no Railgun S","description":"Mikoto Misaka and her friends are back,
        investigating rumors across Academy City. Soon, Mikoto discovers something
        terrifying: horrific experiments are taking place throughout the city, involving
        the...","type":"TV","score":8.13,"episodes":24,"members":171075},{"id":8023,"url":"https:\/\/myanimelist.net\/anime\/8023\/Toaru_Kagaku_no_Railgun__Motto_Marutto_Railgun","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/100x140\/images\/anime\/11\/21780.jpg?s=812f1bf05dbdd60e7dc1c58d44949351","title":"Toaru
        Kagaku no Railgun: Motto Marutto Railgun","description":"Toaru Kagaku no Railgun
        specials that[...]
