---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.me/search/character/misaka%20mikoto/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"url":"https:\/\/myanimelist.net\/character\/82297\/MISAKA_1","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/23x32\/images\/characters\/7\/202183.jpg?s=6319fd5ff7d24c31b59f30fd03d1841d","name":"MISAKA
        1","nicknames":null,"anime":[{"id":16049,"url":"\/anime\/16049\/Toaru_Kagaku_no_Railgun_S","title":"Toaru
        Kagaku no Railgun S"}],"manga":[]},{"url":"https:\/\/myanimelist.net\/character\/40144\/MISAKA_9982","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/23x32\/images\/characters\/7\/204789.jpg?s=2464baa4acfbc9e11c4166a7c5d01146","name":"MISAKA
        9982","nicknames":null,"anime":[{"id":16049,"url":"\/anime\/16049\/Toaru_Kagaku_no_Railgun_S","title":"Toaru
        Kagaku no Railgun S"},{"id":19697,"url":"\/anime\/19697\/Toaru_Kagaku_no_Railgun_S__Motto_Marutto_Railgun","title":"Toaru
        Kagaku no Railgun S: Motto Maru[...]
