---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/search/character/misaka_mikoto/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"bbadbc2feaa2d1c63ff9ecd395f5ba3d83ee04aa","request_cached":true,"result":[{"mal_id":13701,"url":"https:\/\/myanimelist.net\/character\/13701\/Mikoto_Misaka","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/23x32\/images\/characters\/3\/78211.jpg?s=fd9b3907f0b2168a524432c4ff126e14","name":"Misaka,
        Mikoto","nicknames":"Biribiri, The Railgun, The Electromaster, Shocker, Tokiwadai
        Ace","anime":[{"mal_id":16049,"url":"https:\/\/myanimelist.net\/anime\/16049\/Toaru_Kagaku_no_Railgun_S","title":"Toaru
        Kagaku no Railgun S"},{"mal_id":11743,"url":"https:\/\/myanimelist.net\/anime\/11743\/Toaru_Majutsu_no_Index_Movie__Endymion_no_Kiseki","title":"Toaru
        Majutsu no Index Movie: Endymion no Kiseki"},{"mal_id":19697,"url":"https:\/\/myanimelist.net\/anime\/19697\/Toaru_Kagaku_no_Railgun_S__Motto_Marutto_Railgun","title":"Toaru
        Kagaku no Railgun S: Motto Marutto Railgun"},{"mal_id":10249,"url":"https:\/\/myanimelist.net\/anime\/10249\/Toaru_Majutsu_no_Index-tan_II","tit[...]
