---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/search/manga?page=1&q=Railgun
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:search:6f97a639eedcbc1c22c1d17ef383cec5e950d3a7","request_cached":true,"request_cache_expiry":40994,"results":[{"mal_id":7776,"url":"https:\/\/myanimelist.net\/manga\/7776\/Toaru_Majutsu_no_Index_Gaiden__Toaru_Kagaku_no_Railgun","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/manga\/1\/149212.jpg?s=2253206fd41766d695621ded76b609d2","title":"Toaru
        Majutsu no Index Gaiden: Toaru Kagaku no Railgun","publishing":true,"synopsis":"Thirty
        years ahead of the rest of the world scientifically and home to millions of
        students enrolled in the esper development program, Academy City never sees
        a dull moment. Here, espers are given one...","type":"Manga","chapters":0,"volumes":0,"score":8.26,"start_date":"2007-05-27T00:00:00+00:00","end_date":null,"members":17465},{"mal_id":27843,"url":"https:\/\/myanimelist.net\/manga\/27843\/Toaru_Kagaku_no_Railgun_SS","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/manga\/3\/186943.jpg?s=3a64758500ebca2b864d231dbaf2bbcf","title":"Toaru
        Kagaku no Railgun SS","publishing":false,"synopsis":"Toaru Kagaku no Railgun
        is a short story in Arts and Sciences City that takes place in the time period
        between September 3 and 10. Academy City has a exchange program with the rest
        of the[...]
