---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/search/anime?page=1&q=Railgun
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:search:fdf4cedec04f7e957f8987f92dddc051f8e6668c","request_cached":true,"request_cache_expiry":41000,"results":[{"mal_id":6213,"url":"https:\/\/myanimelist.net\/anime\/6213\/Toaru_Kagaku_no_Railgun","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/anime\/8\/53581.jpg?s=6f54a4bddfa95450cbf089d7f8783799","title":"Toaru
        Kagaku no Railgun","airing":false,"synopsis":"The student-filled Academy City
        is at the forefront of scientific advancement and home to the esper development
        program. The seven \"Level 5\" espers are the most powerful in Academy City,
        and ranked th...","type":"TV","episodes":24,"score":7.82,"start_date":"2009-10-03T00:00:00+00:00","end_date":"2010-03-20T00:00:00+00:00","members":303907,"rated":"PG-13"},{"mal_id":16049,"url":"https:\/\/myanimelist.net\/anime\/16049\/Toaru_Kagaku_no_Railgun_S","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/anime\/7\/75610.jpg?s=c411494cff6b2fe4a114ddcb3a3e7f20","title":"Toaru
        Kagaku no Railgun S","airing":false,"synopsis":"Mikoto Misaka and her friends
        are back, investigating rumors across Academy City. Soon, Mikoto discovers
        something terrifying: horrific experiments are taking place throughout the
        city, involv[...]
