---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/search/person?page=1&q=satou%20rina
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a14f10deda0caa967427bfba7d65a77f"'
      X-D-V-N:
      - INIT-AC644301AWS [C-S-W]
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:search:2465293b2f30686f958189aa13abd41912846ff3","request_cached":false,"request_cache_expiry":43200,"results":[{"mal_id":241,"url":"https:\/\/myanimelist.net\/people\/241\/Rina_Satou","image_url":"https:\/\/cdn.myanimelist.net\/images\/voiceactors\/3\/54579.jpg","name":"Rina
        Satou","alternative_names":["Suzune Asakura","\u671d\u5009 \u9234\u97f3"]}],"last_page":1}'
  recorded_at: Thu, 03 Jan 2019 06:06:47 GMT
recorded_with: VCR 4.0.0
