---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.moe/v3/search/character?page=1&q=Misaka%20Mikoto
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"request_hash":"request:search:a6435c7758cd3b95f74030a6bcd64fe098bd5112","request_cached":true,"request_cache_expiry":41014,"results":[{"mal_id":13701,"url":"https:\/\/myanimelist.net\/character\/13701\/Mikoto_Misaka","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/characters\/3\/78211.jpg?s=fd9b3907f0b2168a524432c4ff126e14","name":"Misaka,
        Mikoto","alternative_names":["Biribiri","The Railgun","The Electromaster","Shocker","Tokiwadai
        Ace"],"anime":[{"mal_id":19697,"type":"anime","name":"Toaru Kagaku no Railgun
        S: Motto Marutto Railgun","url":"https:\/\/myanimelist.net\/anime\/19697\/Toaru_Kagaku_no_Railgun_S__Motto_Marutto_Railgun"},{"mal_id":16049,"type":"anime","name":"Toaru
        Kagaku no Railgun S","url":"https:\/\/myanimelist.net\/anime\/16049\/Toaru_Kagaku_no_Railgun_S"},{"mal_id":20035,"type":"anime","name":"Toaru
        Majutsu no Index Movie: Endymion no Kiseki Special","url":"https:\/\/myanimelist.net\/anime\/20035\/Toaru_Majutsu_no_Index_M[...]
