---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.me/search/person/Satou%20Rina/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":40775,"url":"https:\/\/myanimelist.net\/\/people\/40775\/Sanpei_Satou","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/questionmark_23.gif","name":"Satou,
        Sanpei","nicknames":"Yukikazu Satou,  \u4f50\u85e4 \u5e78\u4e00"},{"id":46792,"url":"https:\/\/myanimelist.net\/\/people\/46792\/Sugar_Satou","image_url":"https:\/\/myanimelist.cdn-dena.com\/images\/questionmark_23.gif","name":"Satou,
        Sugar","nicknames":"Toshio Satou,  \u4f50\u85e4 \u5229\u592b,  Grotesque Satou,  \u30b0\u30ed\u30c6\u30b9\u30af\u4f50\u85e4"},{"id":2368,"url":"https:\/\/myanimelist.net\/\/people\/2368\/Fumiya_Satou","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/23x32\/images\/voiceacto[...]
