---
http_interactions:
- request:
    method: get
    uri: https://api.jikan.me/search/manga/railgun/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":7776,"url":"https:\/\/myanimelist.net\/manga\/7776\/Toaru_Majutsu_no_Index_Gaiden__Toaru_Kagaku_no_Railgun","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/100x140\/images\/manga\/1\/149212.jpg?s=2bb169ab59a448c29ecaf8ccd5fe4c06","title":"Toaru
        Majutsu no Index Gaiden: Toaru Kagaku no Railgun","description":"Welcome to
        a world where mysticism and science collide, and supernatural powers are derived
        from either science or religion. At the heart of this world is Academy City,
        an advanced metropolis whose po...","type":"Manga","score":8.27,"volumes":0,"members":16563},{"id":27843,"url":"https:\/\/myanimelist.net\/manga\/27843\/Toaru_Kagaku_no_Railgun_SS","image_url":"https:\/\/myanimelist.cdn-dena.com\/r\/100x140\/images\/manga\/3\/186943.jpg?s=83b1b9b40d4bb75a6a2d7b00862f52d0","title":"Toaru
        Kagaku no Railgun SS","description":"Toaru Kagaku no Railgun is a short story
        in Arts and Sciences City that takes place in the time period between September
        3 and 10. Academy City has a exchange program with the rest of the world that
    [...]
